@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

.tinyFont {
  font-family: 'Tiny5', sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  @apply bg-zinc-950 text-white;
}

/* --background: #0a0a0a;
--foreground: #ededed; */
/* body {
  @apply min-h-screen min-w-full;
} */

h1 {
  @apply text-6xl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
